---
layout: default
---
<nav>
	<ul>
		<li><a href="/">ABOUT</a></li>
		<li><a href="/research">RESEARCH</a></li>
		<li><a href="/publications">PUBLICATIONS</a></li>
    <li><a id="notes" class="active" href="/notes">NOTES</a></li>
		<li><a href="https://github.com/k-trifonova/k-trifonova.github.io/blob/7f4eeb7cf1e69d5555fc551e45c8b39af63995ec/CV_Trifonova.pdf" target="_blank">CV</a></li>
		<li><a href="/contact">CONTACT</a></li>
	</ul>
</nav>
<h2 style="font-size:2em">{{ page.title }}</h2>
<p class="meta" style="font-size:0.95em">{{ page.date | date: "%B %d, %Y" }}</p>
<br>
<div class="post">
  {{ content }}
</div>
